.top-container{
    display: block;
    unicode-bidi: isolate;
    background-color: #75d7f5;
    position: relative;
    padding-top: 100px;
    height: 700px;
}
body{
    text-align: center;
    font-family:sans-serif;
    color: #40514e;
}
.name{
    padding-bottom: 20px;
    unicode-bidi: isolate;
    color: rgb(40, 9, 53)6;
    font-size: 6rem;
    margin: 50px auto 0 auto;
    font-family:cursive;
}

.title-text{
    font-size: 10rem;
    padding-top: 100px;
    display: block;
    unicode-bidi: isolate;
    text-align: center;
    font-family:monospace;
    font: 600;
    color: rgb(40, 9, 53);
}
.pro{
    text-decoration: underline;
}

.top-controller{
    display: block;
    position: absolute;
    right: 300px;
    top: 40px;
    height: 100px;
    width: 100px;
}
.chess-pieces{

    display: block;
    position: absolute;
    left: 250px;
    bottom: 150px;
    height: 150px;
    width: 150px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#loco{
    border-radius: 50%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
